@model IEnumerable<Comment>
@using Microsoft.AspNetCore.Identity
@using ChocoShopBum.Areas.Identity.Data
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}
<div class="home-holder">
    <a asp-controller="Home" asp-action="Index">
        <img class="home-img" alt="Home" src="~/ikonice/home.png">
    </a>
</div>
<div style="margin: 15px;">
    <a asp-controller="Comment" asp-action="Create">Novi komentar</a>
</div>
@foreach(var obj in Model)
{
    <div style="border: 1px solid black; background-color: papayawhip; margin: 10px;">
        <p>@obj.UserID</p>
        <p>@obj.Content</p>
        <p>@obj.CreatedDateTime</p>
        @if (UserManager.GetUserId(this.User) == obj.UserID)
        {
            <a asp-controller="Comment" asp-action="Edit" asp-route-id="@obj.CommentID">Edit</a>
            <a asp-controller="Comment" asp-action="Delete" asp-route-id="@obj.CommentID">Remove</a>
        }
    </div>
}

