@model IEnumerable<ChocoShopBum.Areas.Identity.Data.ApplicationUser>
@{
    ViewData["Title"] = "Index";
}
<div class="home-holder">
    <a asp-controller="Home" asp-action="Index">
        <img class="home-img" alt="Home" src="~/ikonice/home.png">
    </a>
</div>
<div id="admin-panel-container">
	<h1>Admin Panel</h1>
	<p>Panel namijenjen administratorima aplikacije.</p>
	@if (Model != null && Model.Any())
	{
		foreach (var user in Model)
		{
			<div class="admin-panel-user-container">
				<div class="user-details">
					<p>Ime: @user.FirstName</p>
					<p>Prezime: @user.LastName</p>
					@if (@user.Gender == 0)
					{
						<p>Spol: Muško</p>
					}
					else
					{
						<p>Spol: Žensko</p>
					}
					<p>E-Mail: @user.Email</p>
					<p>Vrijeme registracije: @user.CreatedDateTime</p>
				</div>
				<div class="user-buttons">
					<a asp-controller="Role" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
					<a asp-controller="Role" asp-action="Remove" asp-route-id="@user.Id">Remove</a>
				</div>
			</div>
		}
	}
</div>
