
@{
    ViewData["Title"] = "Index";
}
<div class="home-holder shadows">
    <a asp-controller="Home" asp-action="Index">
        <img class="full-scale-img" alt="Home" src="~/ikonice/home.png">
    </a>
</div>
<div id="profile-container" class="container-style shadows">
    <h1 class="center">Vaš Profil</h1>
    <p class="p-subheader underlined">Osnovni podaci o vašem profilu.</p>
    <div id="profile-details-container">
        <div id="avatar_holder">

        </div>
		<p>Ime: @ViewData["FirstName"]</p>
		<p>Prezime: @ViewData["LastName"]</p>
        <p>E-mail: @ViewData["Email"]</p>
		<p id="gender_data">Spol: @ViewData["Gender"]</p>
		<p>Datum registracije: @ViewData["RegDate"]</p>
    </div>
</div>
<script>
    window.addEventListener("load", updateAvatar);
    function updateAvatar(){
        var info = document.getElementById("gender_data").innerHTML;
        console.log(info);
        if (info=="Spol: Musko"){
            document.getElementById("avatar_holder").innerHTML=`<div class="avatar-picture">
                                                                    <img class="full-scale-img" src="/ikonice/maleavatar.png" alt="Male avatar"
                                                                </div>`;
        }
        else{
            document.getElementById("avatar_holder").innerHTML = `<div class="avatar-picture">
                                                                        <img class="full-scale-img" src="/ikonice/femaleavatar.png" alt="fFemale avatar"
                                                                  </div>`;
        }
    }
</script>
